server:
  port: 8082

spring:
  application:
    name: point-service
  datasource:
    url: jdbc:mysql://localhost:3308/point-db
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show_sql: true